
h1 {
    text-align: center;
    font-family: monospace;
    margin: 5px;
    font-size: small;
}

body {
    font-family: monospace;
    color: #333;
    margin: 0px;
    padding-bottom: 60px;
}

.item {
    margin: 5px;
    background: goldenrod;
    text-align: 1.5em;

}

.container {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.grid {
    display: grid;
}

.grid-columns {
    grid-template-columns: 1fr 1fr;
}

.grid-rows {
    grid-template-rows: 50px 50px 50px;
}